@import '~antd/dist/antd.css';
@import url(./Colors.module.css);
.trigger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    font-size: 25px;
    height: 64px;
    transition: color 0.3s;
    width: 100%;
}
.trigger-icon {
    width: fit-content;
    /* border: 2px solid blue; */
    cursor: pointer;
    padding: 0 7px;
    color: white;
}

.trigger-icon:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: var(--content-backgound);
}
.ant-layout {
    min-height: 100vh;
}

.ant-layout-sider {
    background-color: var(--primary);
    z-index: 101;
}
.ant-menu-item a {
    color: var(--nav-item--color);
}

.ant-menu-item-selected a {
    color: #1890ff;
}
.ant-menu-item:hover {
    color: #1890ff;
    transform: translateX(2px);
}
