@import '~antd/dist/antd.css';
@import url(./Colors.module.css);

.site-layout .site-layout-background {
    background: var(--content-backgound);
}
.ant-layout {
    min-height: 100vh;
}
.ant-tabs-nav-wrap {
    border-bottom: 1px solid hsl(0, 0%, 70%);
}
